examples/*/build/
examples/*/managed_components/
examples/*/dependencies.lock
examples/*/sdkconfig
examples/*/sdkconfig.old
examples/*/sdkconfig.secrets
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old
dist/
*.bin
efuse_*.bin
